KPMVCWebAPIsEF5/Connected Services/KPWCFServiceReference/KPWCFService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KPWCFService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59030/KPWCFService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59030/KPWCFService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59030/KPWCFService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/KPWCFService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKPWCFService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetFile_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFile" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetFile_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileResponse" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_SendAttachment_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAttachment" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_SendAttachment_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAttachmentResponse" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetFileFromFolder_InputMessage">
    <wsdl:part name="parameters" element="tns:GetFileFromFolder" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetFileFromFolder_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetFileFromFolderResponse" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IKPWCFService_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:portType name="IKPWCFService">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IKPWCFService/GetData" message="tns:IKPWCFService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKPWCFService/GetDataResponse" message="tns:IKPWCFService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <wsdl:input wsaw:Action="http://tempuri.org/IKPWCFService/GetFile" message="tns:IKPWCFService_GetFile_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKPWCFService/GetFileResponse" message="tns:IKPWCFService_GetFile_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAttachment">
      <wsdl:input wsaw:Action="http://tempuri.org/IKPWCFService/SendAttachment" message="tns:IKPWCFService_SendAttachment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKPWCFService/SendAttachmentResponse" message="tns:IKPWCFService_SendAttachment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFileFromFolder">
      <wsdl:input wsaw:Action="http://tempuri.org/IKPWCFService/GetFileFromFolder" message="tns:IKPWCFService_GetFileFromFolder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKPWCFService/GetFileFromFolderResponse" message="tns:IKPWCFService_GetFileFromFolder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IKPWCFService/GetDataUsingDataContract" message="tns:IKPWCFService_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKPWCFService/GetDataUsingDataContractResponse" message="tns:IKPWCFService_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKPWCFService" type="tns:IKPWCFService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IKPWCFService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFile">
      <soap:operation soapAction="http://tempuri.org/IKPWCFService/GetFile" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAttachment">
      <soap:operation soapAction="http://tempuri.org/IKPWCFService/SendAttachment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFileFromFolder">
      <soap:operation soapAction="http://tempuri.org/IKPWCFService/GetFileFromFolder" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IKPWCFService/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KPWCFService">
    <wsdl:port name="BasicHttpBinding_IKPWCFService" binding="tns:BasicHttpBinding_IKPWCFService">
      <soap:address location="http://localhost:59030/KPWCFService.svc/KPWCFSOAPService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>